<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605162259067-34csu3s6ujtsi4s5i3f0v3mt4fhnqurk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605162259067-34csu3s6ujtsi4s5i3f0v3mt4fhnqurk</string>
	<key>API_KEY</key>
	<string>AIzaSyBs2t6w0wsiPgGNKTR1s_ua0GEpf2Jh-oU</string>
	<key>GCM_SENDER_ID</key>
	<string>605162259067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fillip.uniEvents</string>
	<key>PROJECT_ID</key>
	<string>unievents-8e58a</string>
	<key>STORAGE_BUCKET</key>
	<string>unievents-8e58a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605162259067:ios:50abe2d09e630cf03598de</string>
</dict>
</plist>